

<ion-content [fullscreen]="true">
<div class="form-header">
  <!--<ion-icon name="add-circle-outline"></ion-icon> -->
  <ion-label>Publicar</ion-label>
</div>

<div *ngIf="showFormInfo" class="form-info">
  <ion-icon name="bulb-outline"></ion-icon>
  <small>
    Publica tu articulo fácilmente. Recuerda subir imágenes claras, agrega una descripción atractiva y verifica que el precio sea correcto. ¡Haz que tu anuncio destaque!
  </small>
  <span class="close-form-info" (click)="showFormInfo = false">
    <ion-icon name="close-outline"></ion-icon>
  </span>
</div>



  <form (ngSubmit)="publicarProducto()" #publicarForm="ngForm" class="publicar-form">

    <!-- Selección de categoría -->
    <ion-item >
      <ion-label position="stacked">Selecciona una Categoría</ion-label>
      <ion-select [(ngModel)]="nuevoProducto.categoria" name="categoria" required>
        <ion-select-option *ngFor="let cat of categorias" [value]="cat">
          {{ cat.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Descripción -->
    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-textarea
        [(ngModel)]="nuevoProducto.descripcion"
        name="descripcion"
        maxlength="6000"
        auto-grow="true"
        required>
      </ion-textarea>
    </ion-item>
    <div class="char-counter">{{ nuevoProducto.descripcion?.length || 0 }}/6000</div>

    <!-- Precio -->
    <ion-item>
      <ion-label position="stacked">Precio (Bs.)</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="nuevoProducto.precio"
        name="precio"
        required>
      </ion-input>
    </ion-item>


    <!-- Selección de ciudades -->
    <ion-item>
      <ion-label position="stacked">Ciudades a Publicar</ion-label>
      <ion-select
        [(ngModel)]="nuevoProducto.ciudades"
        name="ciudades"
        multiple="true"
        required>
        <ion-select-option *ngFor="let ciudad of ciudades" [value]="ciudad">
          {{ ciudad.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

        <!-- Subir imágenes -->
    <div class="imagenes-container">
      <h3>Imágenes del producto</h3>
      <div class="imagenes-grid">
        <!-- Previsualización -->
        <div class="imagen-preview" *ngFor="let img of imagenes; let i = index">
          <img [src]="img" alt="Imagen seleccionada">
          <ion-button fill="clear" class="remove-btn" (click)="eliminarImagen(i)">
            <ion-icon name="close-circle"></ion-icon>
          </ion-button>
        </div>

        <!-- Agregar imagen -->
        <div class="imagen-add" *ngIf="imagenes.length < 5" (click)="seleccionarImagen()">
          <ion-icon name="camera-outline"></ion-icon>
          <span>Agregar</span>
        </div>
      </div>
      <p class="img-counter">{{ imagenes.length }}/5 imágenes</p>
    </div>

    <!-- Botón publicar -->
    <div class="btn-publicar-container">
      <ion-button expand="block" type="submit" [disabled]="publicarForm.invalid">
        Publicar Articulo
      </ion-button>
    </div>

  </form>

</ion-content>
