<ion-header>
  <ion-toolbar>
    
<div class="searchbar-profile-container">
  <ion-searchbar [(ngModel)]="searchTerm" placeholder="Buscar ...."></ion-searchbar>
  <ion-button fill="clear" class="profile-btn" (click)="irAMiPerfil()">
    <ion-avatar class="profile-avatar">
      <img [src]="usuario.fotoPerfil" alt="Mi Perfil" />
    </ion-avatar>
  </ion-button>
</div>

    <!-- ...existing code... -->
<div class="filter-container">
  <div class="filter-group">
    <!--<label class="filter-label">Categorías</label>-->
    <ion-select
      interface="popover"
      placeholder="Selecciona categoría"
      [(ngModel)]="categoriaSeleccionada"
      (ionChange)="setCategory($event.detail.value)"
      class="compact-select"
    >
      <ion-select-option *ngFor="let cat of categorias" [value]="cat">{{ cat }}</ion-select-option>
    </ion-select>
  </div>

  <div class="filter-group">
    <!--<label class="filter-label">Ciudades</label> -->
    <ion-select
      interface="popover"
      placeholder="Selecciona ciudad"
      [(ngModel)]="ciudadSeleccionada"
      class="compact-select"
    >
      <ion-select-option *ngFor="let city of ciudades" [value]="city">{{ city }}</ion-select-option>
    </ion-select>
  </div>
</div>
<!-- ...existing code... -->




  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down"
      refreshingSpinner="crescent">
    </ion-refresher-content>
    </ion-refresher>



  <ion-list lines="none">
    <ion-card *ngFor="let post of filteredPosts" (click)="abrirProducto(post)">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img [src]="post.usuario.fotoPerfil" />
        </ion-avatar>
        <ion-label>
          <h5>{{ post.usuario.nombre }} {{ post.usuario.apellido }}</h5>
          <p>{{ post.fechaPublicacion | tiempoPublicacion }}</p>
        </ion-label>
      </ion-item>

      <!-- Imagen más larga -->
      <div class="post-image-container">
        <img [src]="post.imagenesProducto[0]" />
         <div class="price-tag">
            {{ post.precio | currency:'Bs. ':'symbol':'1.0-0' }}
          </div>
      </div>

      <ion-card-content>
        <p class="description-ellipsis">{{ post.descripcion }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
